html {
	background: #8d8d8d;
}

.layout-header {
	background: #b7b7b7;
	display: inline-block;
	text-align: center;
}

.item {
	display: inline-block;
	background: #7a98a3;
	width: 100px;
	height: 100px;
	margin: 10px 0 10px 10px;
}

.item:nth-child(3n) {
	margin-right: 10px;
}